# MQTT
MQTT_URL=mqtt://broker.example.com:1883
MQTT_CLIENT_ID=pms-ingest-0
MQTT_USER=your_mqtt_username
MQTT_PASS=your_mqtt_password

# Postgres
POSTGRESQL_HOST=localhost
POSTGRESQL_PORT=5432
POSTGRESQL_USER=postgres
POSTGRESQL_PASSWORD=changeme
POSTGRESQL_DATABASE=iot

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Logger
MQTT_LOG_DIR=./logs/mqtt
